.table {
    display: grid;
    grid-template: repeat(7, 1fr) 1fr 1fr / repeat(18, 1fr);
    grid-gap: 2px;
    position: relative;
}
 html{
     height: 100%;
 }
 body{
     position: relative;
     height: 100%;
 }
 .wrapper{
     height: 100%;
     display: flex;
     justify-content: center;
     align-items:center;
 }
.atom {
    position: relative;
    height: 4vw;
    width: 4vw;
    border-radius: 10%;
}
.topright {
    position: absolute;
     margin: 0em;
     right: 0vw;
     color: white; 
     font-size: 0.8vw;
}
.bottomleft {
     position: absolute;
     margin: 0em;
     text-align: left;
     color: white; 
     font-size: 0.8vw;
     bottom: 0vw;
}
.center {
     position: relative;
     margin: 0em; 
     text-align: center;
     top: 0.8vw; 
     color: white; 
     font-weight: bold; 
     font-size: 2vw;
}
.header {
    position: absolute;
    width: 98vw;
    height: 30%;
}
.empty {
    border: none;
}
 .green {
     background-color: rgba(59, 204, 25, 1);
 }
 .yellow {
     background-color: rgba(235, 184, 0, 1);
 }
 .orange { 
     background-color: rgba(255, 122, 14, 1);
 }
 .red {
     background-color: rgba(208, 47, 48, 1);
 }
 .turq {
     background-color: rgba(5, 127, 146, 1);
 }
 .blue {
     background-color: rgba(51, 180, 255, 1);
 }
 .grey {
     background-color: rgba(174, 191, 199, 1);
 }
 .pink {
     background-color: rgba(237, 107, 130, 1);
 }
 .violet {
     background-color: rgba(189, 81, 149, 1);
 }
 .darkgreen {
     background-color: rgba(0, 184, 133, 1);
 }